html,body,#app,.app_vue{
    height: 100%;
    width: 100%;
}
.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.3s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}
.mt10{
  margin-top: 10px;
}

// [data-starport-craft] {
//   background: #0805;
// }
// [data-starport-proxy]:not([data-starport-landed]) {
//   background: #8005;
// }